<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZLF-multi-threadDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D14B4C441BFC4F5100BD60AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D14B4C5D1BFC4F5100BD60AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D14B4C681BFC4F5100BD60AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
